<div class="container">
  <h1 class="text-center">A list of available rooms</h1>
  <form (submit)="getRooms($event)" class="form-inline" >
    <div class="form-group">
      <label class="sr-only" for="checkin">Check-in</label>
      <div class="input-group mr-3">
        <div class="input-group-addon"><fa name="calendar"></fa></div>
        <input type="date" class="form-control" id="checkin">
        <!-- <div class="input-group-addon">.00</div> -->
      </div>
      <label class="sr-only" for="checkout">Check-out</label>
      <div class="input-group mr-3">
        <div class="input-group-addon"><fa name="calendar"></fa></div>
        <input type="date" class="form-control" id="checkout">
        <!-- <div class="input-group-addon">.00</div> -->
      </div>
      <label class="sr-only" for="size">Personnel</label>
      <div class="input-group mr-3">
        <div class="input-group-addon"><fa name="user"></fa></div>
        <input type="number" class="form-control" id="size">
        <!-- <div class="input-group-addon">.00</div> -->
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Apply</button>
  </form>
  <div class="row">
    <div *ngFor="let room of rooms" class="w-25 h-25 p-2">
      <img src="../../../assets/norway.jpg" class="img-thumbnail p-0 border-0">
      <p>Room number: {{room.roomnum}}</p>
      <p>No. of beds: {{room.nobeds}}</p>
      <p class="font-weight-bold">${{room.price}}</p>
      <a [routerLink]="room.roomnum">See detail</a>
    </div>
  </div>
</div>