<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-6">
      <img src="../../../assets/norway.jpg" class="img-fluid">
      <p class="text-center" style="letter-spacing: 1px;">Room number: {{room.room}}<span class="pl-2">| No. of beds: {{room.nobeds}} |</span><span class="pl-2 font-weight-bold">${{room.price}}</span></p>
      <div>
        <div class="container" style="padding: 0;">
          <div *ngFor="let review of reviews" class="row">
            <div style="padding:15px 20px;">
              <img src="{{ review.imgurl }}" class="img-fluid" style="width:40px;height:40px;border-radius:50%;object-fit: cover;object-position: top;">
            </div>
            <div>
              <p class="font-weight-bold" style="margin-bottom: 0;">{{ review.fname }} {{ review.lname }} <a routerLink="/reviews/edit/{{ review.id }}"><i class="fa fa-pencil"></i></a></p>
              <div>
                <fa *ngIf="review.rating >= 1" name="star" style="color: orange"></fa>
                <fa *ngIf="review.rating >= 2" name="star" style="color: orange"></fa>
                <fa *ngIf="review.rating >= 3" name="star" style="color: orange"></fa>
                <fa *ngIf="review.rating >= 4" name="star" style="color: orange"></fa>
                <fa *ngIf="review.rating == 5" name="star" style="color: orange"></fa>
              </div>
              <p>{{ review.comment }}</p>
            </div>
          </div>
        </div>
      </div>      
    </div>
    <form (submit)="reserve($event)" class="col-6">
      <div class="form-group">
        <label for="checkin">Check-in Date</label>
        <input type="date" class="form-control" autocomplete="off" id="checkin">
      </div>
      <div class="form-group">
        <label for="checkout">Check-out Date</label>
        <input type="date" class="form-control" autocomplete="off" id="checkout">
      </div>
      <div class="form-group">
        <label for="fname">First name</label>
        <input type="text" class="form-control" autocomplete="off" id="fname">
      </div>
      <div class="form-group">
        <label for="lname">Last name</label>
        <input type="text" class="form-control" autocomplete="off" id="lname">
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="tel" class="form-control" autocomplete="off" id="phone">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>