<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-6">
      <div style="display: grid;grid-template-columns: auto auto;grid-gap: 3px;">
        <img src="../../../assets/norway.jpg" class="img-fluid" style="grid-row: 1 / span 2;height: 337.32px;border-radius: 2px;">
        <img src="../../../assets/norway.jpg" class="img-fluid" style="border-radius: 2px;">
        <img src="../../../assets/norway.jpg" class="img-fluid" style="border-radius: 2px;">
      </div>
      <p>Room number: {{room.roomnum}}<span class="pl-2">| No. of beds: {{room.nobeds}} |</span><span class="pl-2 font-weight-bold">${{room.price}}</span></p>
      <div>
        <div class="container">
          <div class="row">
            <div style="padding:15px 20px;border-radius:50%;">
              <img src="../../../assets/avatar.png" class="img-fluid" style="width:40px;height:40px;">
            </div>
            <div>
              <h3>Michelle Luo</h3>
              <p>It was great! Our family had a great time here.</p>
            </div>
          </div>
          <div class="row">
            <div style="padding:15px 20px;border-radius:50%;">
              <img src="../../../assets/avatar.png" class="img-fluid" style="width:40px;height:40px;">
            </div>
            <div>
              <h3>Michelle Luo</h3>
              <p>It was great! Our family had a great time here.</p>
            </div>
          </div>
          <div class="row">
            <div style="padding:15px 20px;border-radius:50%;">
              <img src="../../../assets/avatar.png" class="img-fluid" style="width:40px;height:40px;">
            </div>
            <div>
              <h3>Michelle Luo</h3>
              <p>It was great! Our family had a great time here.</p>
            </div>
          </div>
        </div>
      </div>      
    </div>
    <form (submit)="reserve($event)" class="col-6">
      <div class="form-group">
        <label for="checkin">Check-in Date</label>
        <input type="date" class="form-control" autocomplete="off" id="checkin">
      </div>
      <div class="form-group">
        <label for="checkout">Check-out Date</label>
        <input type="date" class="form-control" autocomplete="off" id="checkout">
      </div>
      <div class="form-group">
        <label for="fname">First name</label>
        <input type="text" class="form-control" autocomplete="off" id="fname">
      </div>
      <div class="form-group">
        <label for="lname">Last name</label>
        <input type="text" class="form-control" autocomplete="off" id="lname">
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="tel" class="form-control" autocomplete="off" id="phone">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>