<h1 class="text-center">How did we do?</h1>
<div class="container">
    <div [chart]="chart"></div>
    <div class="row">
        <div class="col-6">
            <h1 class="text-center">{{ avg }}</h1>
            <div [chart]="rating"></div>
        </div>
        <div class="col-6">
            <div *ngFor="let review of reviews" class="row">
                <div style="padding:15px 20px;">
                    <img src="{{ review.imgurl }}" class="img-fluid" style="width:40px;height:40px;border-radius:50%;object-fit: cover;object-position: top;">
                </div>
                <div>
                    <p class="font-weight-bold" style="margin-bottom: 0;">{{ review.fname }} {{ review.lname }} <a routerLink="/reviews/edit/{{ review.id }}"><i class="fa fa-pencil"></i></a></p>
                    <div>
                    <fa *ngIf="review.rating >= 1" name="star" style="color: orange"></fa>
                    <fa *ngIf="review.rating >= 2" name="star" style="color: orange"></fa>
                    <fa *ngIf="review.rating >= 3" name="star" style="color: orange"></fa>
                    <fa *ngIf="review.rating >= 4" name="star" style="color: orange"></fa>
                    <fa *ngIf="review.rating == 5" name="star" style="color: orange"></fa>
                    </div>
                    <p>{{ review.comment }}</p>
                </div>
            </div>
        </div>
    </div>
</div>