<div class="container">
  <div class="row" style="height: 300px; background: #fff url('../../../assets/village.jpg');background-size: cover;background-position: center;">
    <!-- <div>
      <img src="../../../assets/norway.jpg" width="200px" height="200px" style="position: relative;top: 150px;left: 150px;">
      <img src="../../../assets/norway.jpg" class="img-fluid">
    </div> -->
    <img src="../../../assets/IMG_2795.JPG" width="200px" height="200px" style="position: relative;top: 150px;left: 150px;    object-fit: cover;
    object-position: top;
    border: 5px solid white;">
  </div>
  <div class="row" style="height:100px;box-shadow: 2px 2px 10px 0.3px rgba(0,0,0,0.1);">
    <!-- <h3 class="p-5">Alice Kim</h3> -->
  </div>
  <div class="row">
    <div class="col-8">
      <div class="row" style="padding: 50px 0 0 50px;">
        <h2>You liked</h2>
        <div class="row">
          <div *ngFor="let room of liked" class="w-25 h-25 p-2">
            <img src="../../../assets/norway.jpg" class="img-thumbnail p-0 border-0">
            <p>Room number: {{room.roomnum}}</p>
            <p>No. of beds: {{room.nobeds}}</p>
            <p class="font-weight-bold">${{room.price}}</p>
            <a href="/rooms/{{room.roomnum}}">See detail</a>
          </div>
        </div>
      </div>
      <div class="row" style="padding-left: 50px;">
        <h2>Payment method</h2>
        <div id="Content_divCardCarousel" class="card-carousel">
          <div class="carousel-wrapper" style="display: block;">
            <ul style="list-style: none; padding: 0; display: flex; margin: 0;">
              <li>
                <a href="/creditcards/add">
                  <img alt="Add Card" src="../../../assets/creditcard.png" width="100px" style="filter: grayscale(100%);">
                  <p>Add Card</p>
                </a>
              </li>
              <li *ngFor="let creditcard of creditcards">
                <a id="Content_rptCards_lnkAddCard" href="#">
                  <img alt="Card {{creditcard.cardnumber}}" src="../../../assets/creditcard.png" width="100px">
                  <p>{{creditcard.name}} - {{creditcard.type}}</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row" style="padding-left: 50px;">
        <h2>Profile info</h2>
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Email</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Password</label>
              <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
          </div>
          <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">State</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Zip</label>
              <input type="text" class="form-control" id="inputZip">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Save change</button>
        </form>
      </div>
    </div>
    <div class="col-4">
      <iframe src="https://calendar.google.com/calendar/embed?height=300&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FVancouver&amp;src=YWxpY2V5a2ltMDgyOEBnbWFpbC5jb20&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=MXVsaGxhYjIxdDJwZWhrbGQ0NG1ucjRpaGtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=a28uY2FuYWRpYW4jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%237fb1b8&amp;color=%23cc8b96&amp;color=%23B39DDB&amp;color=%2378b66f&amp;showCalendars=1&amp;showPrint=0&amp;showTz=0" style="border-width:0" width="300" height="300" frameborder="0" scrolling="no"></iframe>
      <div style="padding:20px;margin:50px 20px;border: 3px solid black; border-radius: 5px; height:300px">
          <p style="display:block;position:relative;top: calc(50% - 20px);text-align:center">Calendar should be here!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="row" style="padding-left: 50px;padding-right: 15px;">
          <h2>My reservations</h2>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Room #</th>
                <th scope="col">Check-in Date</th>
                <th scope="col">Check-out Date</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let reservation of reservations">
                <th scope="row">{{reservation.roomnum}}</th>
                <td>{{reservation.checkindate}}</td>
                <td>{{reservation.checkoutdate}}</td>
                <td><button type="submit" class="btn btn-primary">Change</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-6">
        <div class="row" style="padding-left: 15px;padding-right: 50px;">
          <h2>Payment history</h2>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Biil #</th>
                <th scope="col">Amount</th>
                <th scope="col">See Details</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let payment of payments">
                <th scope="row">{{payment.bid}}</th>
                <td>{{payment.amount}}</td>
                <td><button type="submit" class="btn btn-primary">See Details</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>